<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://mcompany.ocj.com.cn/</string>
	<string>http://m.ocj.com.cn/image_site/event/2014/10/ocjfw_rule/index.html</string>
	<string>https://openmobile.qq.com/oauth2.0/m_authlist</string>
	<string>https://xui.ptlogin2.qq.com</string>
	<string>https://graph.qq.com</string>
	<string>http://mudu.tv</string>
	<string>OCJPAY://</string>
	<string>https://bestvapi.bestv.cn</string>
	<string>http://login.sina.com.cn</string>
	<string>http://passport.weibo.cn</string>
	<string>http://passport.97973.com</string>
	<string>http://passport.weibo.com</string>
	<string>http://app.xincai.com/sso</string>
	<string>http://passport.sina.cn</string>
	<string>http://weibo.com</string>
	<string>http://service.weibo.com/widget/public/login.php</string>
	<string>https://bestvapi.bestv.cn/template/share.html?vid=2404401</string>
	<string>https://mclient.alipay.com/home/exterfaceAssign.htm</string>
	<string>https://mclient.alipay.com</string>
	<string>https://mapi.alipay.com/gateway.do</string>
	<string>http://www.shpost.com.cn</string>
	<string>https://www.sandlife.com.cn</string>
	<string>http://www.tax.sh.gov.cn</string>
	<string>http://www.sandpay.com.cn</string>
	<string>http://im-imr.ocj.com.cn:8001</string>
	<string>http://im.ocj.com.cn/IM/login/wzlogin.do</string>
	<string>http://www.ocj.com.hk</string>
	<string>http://m.ocj.com.hk</string>
	<string>http://bestvapp.bestv.cn</string>
	<string>http://flive.51star.com</string>
	<string>http://114.215.189.237:8001</string>
	<string>http://www.fapiao.com</string>
	<string>https://api.weixin.qq.com</string>
	<string>https://rp.ocj.com.cn</string>
	<string>https://rwww.ocj.com.cn</string>
	<string>https://rm.ocj.com.cn</string>
	<string>https://p.ocj.com.cn</string>
	<string>https://222.44.42.8</string>
	<string>http://rwww.ocj.kr</string>
	<string>https://m.ocj.kr</string>
	<string>http://www.ocj.kr</string>
	<string>https://ebank.spdb.com.cn</string>
	<string>https://payment.bankcomm.com</string>
	<string>http://ocj.com.cn</string>
	<string>https://ibsbjstar.ccb.com.cn</string>
	<string>tel:4008898000</string>
	<string>sinaweibo://browser</string>
	<string>http://service.weibo.com</string>
	<string>http://v.t.sina.com.cn</string>
	<string>http://passport.bestv.cn</string>
	<string>wvjbscheme://__WVJB_QUEUE_MESSAGE__</string>
	<string>res.wx.qq.com</string>
	<string>http://icc.ocj.com.cn</string>
	<string>http://m.ocj.kr</string>
	<string>http://cdnimg.ocj.com.cn</string>
	<string>http://ha.ocj.com.cn</string>
	<string>http://wechat.bestv.com.cn</string>
	<string>http://rwww.ocj.com.cn</string>
	<string>http://m.ocj.com.cn</string>
	<string>http://rm.ocj.com.cn</string>
	<string>https://api.weibo.com/</string>
	<string>https://api.weibo.com</string>
	<string>http://114.67.48.77:7902</string>
	<string>http://61.130.7.220:8023</string>
	<string>https://api.weixin.qq.com</string>
	<string>http://openapi.qzone.qq.com</string>
	<string>https://mapi.alipay.com</string>
	<string>https://passport.guanaitong.com</string>
	<string>http://www.anyolife.com</string>
	<string>https://www.ocj.com.cn</string>
	<string>https://mapi.alipay.com</string>
	<string>http://p.ocj.com.cn</string>
	<string>https://m.ocj.com.cn</string>
	<string>http://www.wanlitong.com</string>
	<string>https://passport.guanaitong.com</string>
	<string>http://bestv.baiduux.com/h5/3e6bbe26-05eb-febe-184b-f09341be6e7d.html?channelid=be9ed0be092d01e0</string>
	<string>http://bestv.baiduux.com/h5/3e6bbe26-05eb-febe-184b-f09341be6e7d.html?channelid=be9ed0be092d01e0</string>
	<string>https://pay.spdbccc.com.cn</string>
	<string>http://ocj.m.zhiye.com</string>
	<string>http://wappaygw.alipay.com/service/rest.htm</string>
	<string>tel:02151119900</string>
	<string>http://rwww.ocj.com.hk</string>
	<string>http://rm.ocj.com.hk</string>
	<string>http://www.anyolife.com</string>
	<string>http://fgf-live.gamefy.cn/vrlive/fgf/playlist.m3u8</string>
	<string>http://www.ocj.com.cn</string>
	<string>vm</string>
</array>
</plist>
