<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlayVideo</key>
	<dict>
		<key>title</key>
		<string>视频播放</string>
		<key>vcName</key>
		<string>OCJRNLiveStepOneVC</string>
	</dict>
	<key>Reserve</key>
	<dict>
		<key>title</key>
		<string>预约订单</string>
		<key>vcName</key>
		<string>OCJAppointmentOrderVC</string>
	</dict>
	<key>obj/route/rn/Home/Video/Homeocj_Video</key>
	<dict>
		<key>vcName</key>
		<string>OCJVideoComingVC</string>
		<key>title</key>
		<string>视频详情</string>
	</dict>
	<key>Sweep</key>
	<dict>
		<key>title</key>
		<string>扫一扫</string>
		<key>vcName</key>
		<string>OCJScanVC</string>
	</dict>
	<key>obj/route/rn/Home/Sign/Homeocj_Sign</key>
	<dict>
		<key>title</key>
		<string>去签到</string>
		<key>vcName</key>
		<string>OCJSignInTipVC</string>
	</dict>
	<key>Sign</key>
	<dict>
		<key>title</key>
		<string>签到中心</string>
		<key>vcName</key>
		<string>OCJRegisterCenterVC</string>
	</dict>
	<key>ChangeGift</key>
	<dict>
		<key>title</key>
		<string>礼券兑换</string>
		<key>vcName</key>
		<string>OCJExchangeGiftCertificateVC</string>
	</dict>
	<key>Valuate</key>
	<dict>
		<key>title</key>
		<string>评价</string>
		<key>vcName</key>
		<string>OCJEvaluateVC</string>
	</dict>
	<key>Red</key>
	<dict>
		<key>title</key>
		<string>抢红包</string>
		<key>vcName</key>
		<string>OCJSMGView</string>
		<key>pageType</key>
		<string>view</string>
	</dict>
	<key>VIP</key>
	<dict>
		<key>title</key>
		<string>VIP</string>
		<key>vcName</key>
		<string>OCJVipAreaVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Global</key>
	<dict>
		<key>title</key>
		<string>全球购</string>
		<key>vcName</key>
		<string>OCJGlobalShoppingVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Exchange</key>
	<dict>
		<key>title</key>
		<string>换货详情</string>
		<key>vcName</key>
		<string>OCJExchangeGoodsVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Return</key>
	<dict>
		<key>title</key>
		<string>退货详情</string>
		<key>vcName</key>
		<string>OCJRefundGoodsVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Score</key>
	<dict>
		<key>title</key>
		<string>积分</string>
		<key>vcName</key>
		<string>OCJScoreDetailVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Coupon</key>
	<dict>
		<key>title</key>
		<string>抵用券</string>
		<key>vcName</key>
		<string>OCJCouponDetailVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Europe</key>
	<dict>
		<key>title</key>
		<string>鸥点</string>
		<key>vcName</key>
		<string>OCJEuropeDetailVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Reward</key>
	<dict>
		<key>title</key>
		<string>礼包</string>
		<key>vcName</key>
		<string>OCJRewardVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Prebargain</key>
	<dict>
		<key>title</key>
		<string>预付款</string>
		<key>vcName</key>
		<string>OCJPreBargainVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Login</key>
	<dict>
		<key>title</key>
		<string>登录</string>
		<key>vcName</key>
		<string>OCJLoginVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Setting</key>
	<dict>
		<key>title</key>
		<string>设置</string>
		<key>vcName</key>
		<string>OCJSettingCenterVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Pay</key>
	<dict>
		<key>title</key>
		<string>付款</string>
		<key>vcName</key>
		<string>OCJOnlinePayVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>SelectAddress</key>
	<dict>
		<key>title</key>
		<string>收货地址管理</string>
		<key>vcName</key>
		<string>OCJSelectAddressVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>Share</key>
	<dict>
		<key>title</key>
		<string>商品详情分享</string>
		<key>vcName</key>
		<string>OCJShare</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>SelectArea</key>
	<dict/>
	<key>iOSocj_WebView</key>
	<dict>
		<key>title</key>
		<string>原东购H5页面容器</string>
		<key>vcName</key>
		<string>OCJ_RN_WebViewVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>GiftRecharge</key>
	<dict>
		<key>title</key>
		<string>礼包充值</string>
		<key>vcName</key>
		<string>OCJWalletRechargeVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
	<key>PersonalInformation</key>
	<dict>
		<key>title</key>
		<string>个人资料</string>
		<key>vcName</key>
		<string>OCJPersonalInformationVC</string>
		<key>pageType</key>
		<string>vc</string>
	</dict>
</dict>
</plist>
